{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <div class="card-header">
                  <h3 class="card-title"><a href="/admin"> Eres un administrador? </a></h3>
                </div>
                <tr>
                  <th> Código </th>
                  <th> Nombre </th>
                  <th> Categoria </th>
                  <th> Unidad </th>
                  <th> Ubicacion </th>
                  <th> Stock </th>
                  <th> Precio </th>
                  <th> Fecha </th>
                </tr>
              </thead>
              <tbody>
                {% for material in materiales %}
                <tr>
                  <td>{{ material.codigo_material }}</td>
                  <td>{{ material.nombre_material }}</td>
                  <td>{{ material.categoria_material }}</td>
                  <td>{{ material.unidad_material }}</td>
                  <td>{{ material.ubicacion_material }}</td>
                  <td>{{ material.stock_material }}</td>
                  <td>{{ material.precio_unitario }}</td>
                  <td>{{ material.creacion_material|date:"d/m/y" }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- ./wrapper -->

{% endblock content %}